@font-face {
  font-family: 'Tungsten-Book';
  src: url('../../fonts/Tungsten-Book.eot');
  src: url('../../fonts/Tungsten-Book.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Tungsten-Book.woff') format('woff'),
       url('../../fonts/Tungsten-Book.svg#Cocon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tungsten-Semibold';
  src: url('../../fonts/Tungsten-Semibold.eot');
  src: url('../../fonts/Tungsten-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Tungsten-Semibold.woff') format('woff'),
       url('../../fonts/Tungsten-Semibold.svg#Cocon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tungsten-Black';
  src: url('../../fonts/Tungsten-Black.eot');
  src: url('../../fonts/Tungsten-Black.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Tungsten-Black.woff') format('woff'),
       url('../../fonts/Tungsten-Black.svg#Cocon') format('svg');
  font-weight: normal;
  font-style: normal;
}