@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import './fonts';

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: #185faf;
  font-size: 20px;
}

#app {
  height: 100% !important;
  padding: 0 16px;
}

.content {
  min-height: calc(100vh - 50px);
}

.footer {
  padding-top: 20px;
  font-family: 'Tungsten-Book';
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  min-height: 50px;
  background-color: black;
  color: white;
  p {
    text-align: center;
  }
  a {
    color: white;
  }
  & .disclaimer {
    text-align: center;
    & > a {
      display: block;
      padding: 2px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 10px 5px 10px;
    }
  }
}

.black-border {
  border: solid black 16px !important;
  border-radius: 0 !important;
  margin: 0 !important;
  background-color: white;
}

.divider {
  height: 16px;
  background-color: black;
  margin: 20px 0;
}

.leaderboard-logo {
  padding: 0 !important;
  margin-top: -2px;
  margin-bottom: 20px;
  & .link-wrap {
    margin-top: 3% !important;
  }
}

.subscribe-logo, .bbc-logo {
  width: 100px;
  height: auto;
}


.nav-item {
  &.link-image {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 15px;
    transition: all 0.3s ease 0s;
    &:hover {
      background-position-y: 20px;
    }
  }
  &.home {
    background-image: url('../../images/logo_inactive.png');
    &.active {
      background-image: url('../../images/logo_active.png');
    }
    &:hover {
      background-image: url('../../images/logo_active.png');
    }
  }
  &.league {
    background-image: url('../../images/league_inactive.png');
    &.active {
      background-image: url('../../images/league_active.png');
    }
    &:hover {
      background-image: url('../../images/league_active.png');
    }
  }
  &.how-to-play {
    background-image: url('../../images/howto_inactive.png');
    &.active {
      background-image: url('../../images/howto_active.png');
    }
    &:hover {
      background-image: url('../../images/howto_active.png');
    }
  }
  &.rules {
    background-image: url('../../images/rules_inactive.png');
    &.active {
      background-image: url('../../images/rules_active.png');
    }
    &:hover {
      background-image: url('../../images/rules_active.png');
    }
  }
  & .link-text {
    font-family: 'Tungsten-Semibold';
    letter-spacing: 0.5px;
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 100%;
  }
}

.nav-link {
  font-family: 'Tungsten-Semibold';
  font-size: 25px;
  color: black;
  text-align: center;
}

.page-title-header {
  display: inline-block;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(196,194,196,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(196,194,196,1);
  box-shadow: 5px 5px 0px 0px rgba(196,194,196,1);
  & > .ui.header {
    font-family: 'Tungsten-Semibold';
    font-size: 30px;
    color: yellow;
    letter-spacing: 1px;
    margin-bottom: -8px;
    line-height: 32px;
  }
  .thiner {
    font-family: 'Tungsten-Book';
    color: white;
  }
  &.green {
    background-color: #00D463;
  }
  &.red {
    background-color: red;
  }
  &.blue {
    background-color: #009DE2;
  }
}

.ui.divided.list > .item {
  border-top: 2px solid red;
}

.ui.pagination.menu {
  outline: none;
}

.ui.pagination.menu .active.item {
  border-top: none;
  padding-top: .92857143em;
  background-color: red;
  color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.field-names {
  width: 100%;
  font-family: 'Tungsten-Book';
  font-size: 15px;
  text-align: right;
  & > span {
    display: inline-block;
    width: 15%;
    text-align: right;
    margin-bottom: 10px;
  }
}

.leaderboard-team-logo {
  display: inline-block;
  min-width: 28px;
  min-height: 28px;
  & > img {
    margin-right: 0 !important;
  }
}

.skill-btn {
  border: 2px solid grey !important;
}

.liner {
  background-color: #185faf;
  height: 16px;
  clear: both;
}

.leaderboard-table {
  width: 100% !important;
  tbody, th, tr, td {
    font-family: 'Tungsten-Book';
    text-align: center !important;
    letter-spacing: .5px;
    font-weight: bold;
    border: none !important;
  }
  th {
    font-size: 18px;
    border-bottom: 2px solid black !important;
    padding: 10px 5px !important;
  }
  td {
    border-bottom: 2px solid red !important;
    padding: 10px 5px !important;
  }
  td:first-child {
    font-family: 'Tungsten-Semibold';
    font-size: 18px;
  }
  td:nth-child(3) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  td:nth-child(4) {
    font-family: 'Tungsten-Book';
    font-size: 22px !important;
  }
  td:nth-child(n+4) {
    font-size: 18px;
  }
}

.ui.checkbox.toggle-scores label {
  font-family: 'Tungsten-Semibold';
  font-size: 18px;
}

.how-to-play-list {
  & li {
    margin-bottom: 10px;
    line-height: 1.5em !important;
  }
}

.insert-images {
  box-shadow: 6px 6px 0 0 rgba(0,0,0,0.25);
  &.red {
    border: 10px solid #E20110;
  }
  &.pink {
    border: 10px solid #E4017D;
  }
}

.cumulative-score {
  color: red;
}

// Padding Start 
.padding-top-0 {
    padding-top: 0 !important;
  }
  .padding-bottom-0 {
    padding-bottom: 0 !important;
  }
  .padding-top-10 {
    padding-top: 10px !important;
  }
  .padding-top-20 {
    padding-top: 20px !important;
  }
  .padding-bottom-10 {
    padding-bottom: 10px !important;
  }
  .padding-bottom-20 {
    padding-bottom: 20px !important;
  }
// Padding End 

// Margin Start 
  .margin-top-0 {
    margin-top: 0 !important;
  }
  .margin-top-10 {
    margin-top: 10px !important;
  }
  .margin-top-20 {
    margin-top: 20px !important;
  }
  .margin-bottom-10 {
    margin-bottom: 10px !important;
  }
  .margin-bottom-20 {
    margin-bottom: 20px !important;
  }
// Margin End 

.small {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .link-text {
    font-size: 18px !important;
    margin-top: 110% !important;
  }
  .leaderboard-logo {
    & .link-wrap {
      margin-top: 5% !important;
    }
  }
  .subscribe-logo, .bbc-logo {
    width: 68px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
}

@media screen and (max-width: 425px) {
  .link-text {
    font-size: 14px !important;
    margin-top: 120% !important;
  }
  .nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .nav-item {
    padding: 0.5rem !important;
  }
  .team-name, .leaderboard-numbers {
    font-size: 20px;
  }
  .leaderboard-logo {
    & .link-wrap {
      margin-top: 7% !important;
    }
  }
  .subscribe-logo, .bbc-logo {
    width: 68px;
    height: auto;
  }
}




