$background-color: #D7D7D7;
$upcoming: #85C1E9;
$live: #ABEBC6;
$archived: #F5B7B1;

.login {
  background-image: url('https://s3-eu-west-1.amazonaws.com/voxly.client.skills/assets/NHS-BOTS/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.login-container {
  position: relative;
  top: 40vh;
}

.login-form-wrapper {
  background-color: $background-color;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.9;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}
